<html>

<head>
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <% if (locals.user) {%>
  <%- include('partials/header', { user: user }) %>

  <% if (locals.folderHierarchy) {%>
    <% locals.folderHierarchy.map((folder) => { %>
      <span><%= folder %> ></span>
    <% }) %>
  <% } %>

  <% if (locals.currentFolderName) {%>
  <h4>Current folder: <%= locals.currentFolderName %></h4>
  <% } else { %>
  <h4>Current folder: root(top) folder</h4>
  <% } %>

  <% if (locals.currentFolderId) {%>
  <form method="GET" action="/view/<%= locals.parentFolderId %>?">
    <button type="submit" id="back-btn">Back</button>
  </form>
  <% } %>
  <button class="folder-create-btn" id="folder-create-btn" type="button">
    Create folder
  </button>

  <form action="/upload/file/<%= locals.currentFolderId %>" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile" />
    <input type="submit" value="upload" id="upload_file" />
  </form>

  <div id="create-modal" style="display: none">
    <form method="POST" action="/upload/folder/<%= locals.currentFolderId %>" class="modal-content">
      <label for="folder_name">Folder name:</label>
      <input type="text" id="folder_name" name="folder_name" />
      <button type="submit">create</button>
    </form>
  </div>

  <div>
    <div class="folder-container">
      <% locals.folders.map((folder) => { %>
      <form method="GET" action="/view/<%= folder.id %>">
        <button type="submit" class="folder-btn"><%= folder.name %></button>
      </form>
      <% }) %>
    </div>
  </div>
  <div>
    <table class="file-container">
      <tr class="file-head">
        <th>Name</th>
        <th>Size</th>
        <th>Created</th>
        <th></th>
      </tr>
      <% locals.files.map((file) => { %>
      <tr class="file">
        <td><%= file.title %></td>
        <td><%= file.size %> Mb</td>
        <td><%= String(file.createdAt).slice(4, 15) %></td>
        <td>
          <form action="/download/<%= file.title %>" method="GET">
            <button type="submit" id="download-btn">
              Download
            </button>
          </form>
        </td>
        <td>
          <form action="/delete/<%= file.id %>/<%= locals.currentFolderId %>/?_method=DELETE" method="POST">
            <button type="submit" id="delete-btn"> 
              Delete
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
  </div>
  </div>
  <% } else { %>
  <h4>file uploader</h4>
  <a href="/auth/signup">signup</a>
  <a href="/auth/login">login</a>
  <%}%>
    <script>
      const modal = document.getElementById("create-modal");
      const btn = document.getElementById("folder-create-btn");
      btn.addEventListener("click", () => {
        modal.style.display = "block";
      });
      window.onclick = function (e) {
        if (e.target == modal) {
          modal.style.display = "none";
        }
      };
      const backbtn = document.getElementById("back-btn");
      backbtn.addEventListener("click", () => {
        console.log("back btn clicked");
      });
    </script>
  </body>
</html>