<html>

<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <% if (locals.user) {%>
  <%- include('partials/header', { user: user }) %>

  <form action="/upload/folder" method="POST">
    <button class="folder-create-btn" id="folder-create-btn" type="button">
      Create folder
    </button>
  </form>
  <form action="/upload/file" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile" />
    <input type="submit" value="upload" id="upload_file" />
  </form>
  <div id="create-modal" style="display: none">
    <form method="POST" action="/upload/folder" class="modal-content">
      <label for="folder_name">Folder name:</label>
      <input type="text" id="folder_name" name="folder_name" />
      <button type="submit">create</button>
    </form>
  </div>
  <div>
    <div class="folder-container">
      <% locals.folders.map((folder) => { %>
      <form action="/view/<%= folder.name %>" method="GET">
        <button type="submit" class="folder-btn"><%= folder.name %></button>
      </form>
      <% }) %>
    </div>
  </div>
  <div>
    <table class="file-container">
      <tr class="file-head">
        <th>Filename</th>
        <th>Size (MB)</th>
        <th>Uploaded At</th>
        <th></th>
      </tr>
      <% locals.files.map((file) => { %>
      <tr class="file">
        <td><%= file.title %></td>
        <td><%= file.size %> Mb</td>
        <td><%= String(file.createdAt).slice(4, 24) %></td>
        <td>
          <form action="/download/<%= file.title %>" method="GET">
            <button type="submit" id="download-btn">
              Download
            </button>
          </form>
        </td>
      </tr>
      <% }) %>
  </div>
  </div>
  <% } else { %>
  <h4>file uploader</h4>
  <a href="/auth/signup">signup</a>
  <a href="/auth/login">login</a>
  <%}%>
    <script>
      const modal = document.getElementById("create-modal");
      const btn = document.getElementById("folder-create-btn");
      btn.addEventListener("click", () => {
        modal.style.display = "block";
      });
      window.onclick = function (e) {
        if (e.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>